/* line 1, C:/Users/Mikhail/Desktop/Priject-2/src/sass/resets.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 21, C:/Users/Mikhail/Desktop/Priject-2/src/sass/resets.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 25, C:/Users/Mikhail/Desktop/Priject-2/src/sass/resets.scss */
html {
  height: 100%;
}

/* line 28, C:/Users/Mikhail/Desktop/Priject-2/src/sass/resets.scss */
body {
  line-height: 1;
}

/* line 31, C:/Users/Mikhail/Desktop/Priject-2/src/sass/resets.scss */
ol, ul {
  list-style: none;
}

/* line 34, C:/Users/Mikhail/Desktop/Priject-2/src/sass/resets.scss */
blockquote, q {
  quotes: none;
}

/* line 37, C:/Users/Mikhail/Desktop/Priject-2/src/sass/resets.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, C:/Users/Mikhail/Desktop/Priject-2/src/sass/resets.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 5, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
* {
  box-sizing: borde-box;
}

/* line 8, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.main-section {
  min-height: 800px;
  background: #f0f0f0;
  position: relative;
  overflow: hidden;
}

/* line 13, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.main-section__container {
  display: flex;
  justify-content: space-between;
}

/* line 16, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.main-section__content {
  position: relative;
  display: flex;
  flex-direction: row;
}

/* line 20, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.main-section__first-elipse {
  position: absolute;
  top: 129px;
  right: 34px;
}

/* line 24, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.main-section__second-elipse {
  position: absolute;
  right: -120px;
  top: 650px;
}

/* line 30, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* line 36, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.nav-menu__list {
  display: flex;
  height: 89px;
  align-items: center;
}

/* line 41, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.nav-menu__item {
  margin-right: 64px;
}

/* line 43, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.nav-menu__item:last-child {
  margin-right: 0px;
}

/* line 47, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.left-wrapper {
  position: relative;
}

/* line 49, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.left-wrapper img {
  position: relative;
  z-index: 5;
}

/* line 52, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.left-wrapper__rectangle-blue {
  position: absolute;
  top: 150px;
  left: -50px;
  width: 565.95px;
  height: 220px;
  background: #5290EA;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-64deg);
  z-index: 2;
}

/* line 63, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.left-wrapper__rectangle-orange {
  position: absolute;
  width: 618.43px;
  height: 220px;
  left: -30px;
  top: 160px;
  background: #F28B64;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  transform: rotate(-50.81deg);
  z-index: 3;
}

/* line 74, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.left-wrapper__rectangle-grey {
  position: absolute;
  width: 608.97px;
  height: 220px;
  left: 10px;
  top: 190px;
  background: #E2E2E2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  transform: rotate(-36.15deg);
  z-index: 1;
}

/* line 86, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.right-wrapper {
  width: 372px;
  position: absolute;
  top: 150px;
  right: 76px;
  z-index: 1;
}

/* line 92, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.right-wrapper__icons {
  margin-bottom: 1px;
  padding-left: 10px;
}

/* line 95, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.right-wrapper__title {
  margin-bottom: 5px;
}

/* line 97, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.right-wrapper__text {
  font-size: 16px;
  margin-bottom: 20px;
}

/* line 101, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.icons {
  display: inline-flex;
}

/* line 104, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.icons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #5290EA;
  border-radius: 100px;
  margin-right: 17px;
}

/* line 113, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.icons__item:last-child {
  margin-right: 0px;
}

/* line 115, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.icons i {
  font-size: 21px;
}

/* line 119, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.title {
  font-size: 72px;
  position: relative;
}

/* line 122, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.title__hr {
  width: 85px;
  position: absolute;
  bottom: 0px;
  margin: 0;
  border: 0;
  border-top: 1px solid;
}

/* line 130, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.buttons {
  display: inline-flex;
}

/* line 132, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.buttons__main-btn {
  margin-right: 32px;
  width: 200px;
  height: 60px;
  background: #F28B64;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-size: 18px;
  color: white;
}

/* line 142, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.buttons__icon-btn {
  display: inline-flex;
  align-items: center;
}

/* line 145, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.buttons__icon-btn img {
  margin-right: 12px;
}

/* line 147, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.buttons__text {
  font-size: 16px;
}

/* line 151, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.elipse {
  width: 194px;
  height: 194px;
  background: linear-gradient(143.92deg, rgba(237, 123, 80, 0.5) 14.85%, rgba(72, 138, 234, 0.5) 53.25%, rgba(44, 44, 44, 0.5) 85.74%);
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 160, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.elipse_big {
  width: 282px;
  height: 282px;
}

/* line 164, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.elipse__subtract {
  width: 129.33px;
  height: 129.33px;
  background-color: #f0f0f0;
  border-radius: 150px;
}

/* line 169, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.elipse__subtract_big {
  width: 188px;
  height: 188px;
}

/* line 173, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.second-section {
  min-height: 700px;
}

/* line 175, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.second-section__container {
  padding-top: 32px;
}

/* line 177, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.second-section__title {
  margin-bottom: 40px;
}

/* line 179, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.second-section__card-box {
  display: flex;
  justify-content: space-between;
}

/* line 184, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.cards-itom {
  position: relative;
  width: 360px;
  height: 360px;
  background: #E2E2E2;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}

/* line 192, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.cards-itom__img {
  height: 335px;
}

/* line 195, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.cards-itom__text {
  font-size: 36px;
  width: 280px;
  text-align: center;
  transform: rotate(90deg);
  position: absolute;
  top: 148px;
  right: -48px;
}

/* line 204, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.cards-itom_orange {
  background: #F28B64;
}

/* line 207, C:/Users/Mikhail/Desktop/Priject-2/src/sass/style.sass */
.cards-itom_blue {
  background: #5290EA;
}

/*# sourceMappingURL=style.css.map */